@model PostViewModel

<form asp-action="Upsert" method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
    <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" asp-for="Description" />
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input class="form-control" asp-for="Tags" />
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" asp-for="Category">
                        <option value="Repair">Appliance-Repair</option>
                        <option value="Tips">Tips</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="New">New-Arrival</option>
                        <option value="Parts">New-Parts</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" id="editor" asp-for="Body"></textarea>
                </div>
                <div class="form-group">
                    <label>Image</label>
        @if (Model.Id != 0)
        {
            <input asp-for="CurrentImage" hidden />
            <input class="btn btn-outline-info" type="file" asp-for="Image" />
           
        }
        else {
            <input class="btn btn-outline-info" type="file" id="uploadBox" name="file" />
        }
        <br />
       
                </div>

    @if (Model.Id != 0)
    {
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    }
    else
    {
        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
    }
            </form>
            <div class="col-2 pt-4">
			<img src="~/content/blog/@Model.CurrentImage"
			width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
		</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });

    </script>
}